<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>

    <link rel="stylesheet" href="/public/css/auth.css" />
  </head>

  <body>
    <div class="signin-container">
      <img
        src="https://i.postimg.cc/j5jGDkmn/Group-15.png"
        class="signin-logo"
        alt="FamFund Logo"
      />

      <div class="signin-box">
        <h1 class="signin-title">Sign in</h1>

        <form action="/auth/sign-in" method="POST">
          <label>Email</label>
          <input type="text" name="email" />

          <label>Password</label>
          <input type="password" name="password" />

          <button type="submit" class="signin-button">Sign</button>
        </form>
      </div>
    </div>
  </body>
</html>
