<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-up</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %> <%if (page===1){%>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Input your name"
      />
      <br />
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <br />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <br />
      <label for="role">role:</label>
      <select name="role" id="role">
        <option value="Parent">Parent</option>
        <option value="Child">Child</option>
      </select>
      <br />
      <label for="bio">Bio:</label>
      <div class="bioLength">0 /200</div>
      <br />
      <textarea
        name="bio"
        id="bio"
        rows="4"
        placeholder="Tell us something about yourself..."
      ></textarea>

      <br />
      <label for="profileImageUrl">Upload Profile Image:</label>
      <input
        type="text"
        name="profileImageUrl"
        id="profileImageUrl"
        placeholder="https://example.com/myimage.jpg"
      />
      <br />
      <button type="submit">Continue</button>
    </form>

    <script>
      const bio = document.querySelector("#bio")
      const bioLength = document.querySelector(".bioLength")

      bio.addEventListener("input", () => {
        bioLength.innerText = `${bio.value.length} / 200`
      })
    </script>
    <%} else if (page === 2 && role === "Parent") { %>

    <h2>Create a Family</h2>
    <form action="/auth/sign-up/parent" method="POST">
      <label for="name">Family Name:</label>
      <input type="text" name="parentFamilyName" id="parentFamilyName" /><br />
      <label for="code">Family code:</label>
      <input type="text" name="code" id="code" /><br />
      <button type="submit">Create a Family</button>
    </form>
    <% } else if (page === 2 && role === "Child") { %>

    <h2>Join a Family</h2>

    <form action="/auth/sign-up/child" method="POST">
      <label for="code">Family Code:</label>
      <input type="text" name="code" id="code" /><br />

      <button type="submit">Join Family</button>
    </form>

    <% } %>
  </body>
</html>
