<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-in</title>
    <link rel="stylesheet" href="/public/css/auth.css" />
  </head>

  <body>
    <!-- Logo -->
    <div class="family-logo">
      <img src="https://i.postimg.cc/j5jGDkmn/Group-15.png" />
    </div>

    <!-- Sign in card -->
    <div class="sign-in-card">
      <h2 class="sign-title">Sign in</h2>

      <form action="/auth/sign-in" method="POST">
        <label>Email</label>
        <input type="text" name="email" />

        <label>Password</label>
        <input type="password" name="password" />

        <button type="submit" class="sign-btn">Sign</button>
      </form>
    </div>
  </body>
</html>
