<% const uid = user ? user._id : '' %>

<aside class="notification-sidebar">
  <div class="sidebar-logo">
    <img src="/public/images/logo.png" alt="FamFund" />
    <span>FamFund</span>
  </div>

  <nav class="sidebar-menu">
    <a
      href="/notifications/join-requests"
      class="sidebar-item <%= activePage === 'join-request' ? 'active' : '' %>"
    >
      Join Requests
    </a>
<div class="back-arrow">

    <a
      href="/dashboard" class = "back-arrow"
    >
      <img src="https://i.postimg.cc/76ybpsR4/back-arrow.png" alt="back-arrow">
    </a>

    <style>
.back-arrow img {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 55px;
    height: 55px;
    background-color: #2364a4;
    color: #ffffff;
    border-radius: 50%;
    transition: 0.2s;
    text-decoration: none;
  }




</style>
</aside>
