body {
  background: #eaf3ff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 30px 0;
}

.page-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #0f3c75;
}

.empty-box {
  width: 350px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  color: #555;
  font-size: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.request-card {
  width: 500px;
  margin: 25px auto;
  background: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.info-section label {
  font-weight: 600;
  color: #0f3c75;
  margin-top: 12px;
  display: block;
}

.info-section input,
.info-section select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 14px;
  background: #f6f6f6;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-btn,
.save-btn {
  width: 48%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.edit-btn {
  background: #0f3c75;
}

.save-btn {
  background: #008037;
}

.save-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Main layout */
.layout {
  display: flex;
  min-height: 100vh;
  background: #f5faff;
  font-family: "Segoe UI", sans-serif;
}
/* SIDEBAR BASE */
.sidebar {
  width: 230px;
  background-color: #f2faff;
  padding: 20px;
  border-right: 1px solid #d5e6ff;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

/* LOGO */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.sidebar-logo img {
  height: 3rem; /* SAME as dashboard */
  object-fit: contain;
}

.sidebar-logo span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2364a4;
}

/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s ease;
}

.sidebar-item:hover {
  background-color: #d8eaff;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: #e0efff;
  color: #0f3c75;
  font-weight: 600;
}

/* SIGN OUT BUTTON */
.sidebar-signout {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 55px;
  height: 55px;
  background-color: #2364a4;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  text-decoration: none;
}

.sidebar-signout:hover {
  background-color: #1d5285;
  transform: scale(1.05);
}
